/* ここから下に記載していく */
.body {
  font-size: 16px;
  color: #222222;
  margin: 0px;
  padding: 0px;
}

input[type="text"] {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1365px;
  text-align: center;
  margin: 0 auto;
}

.en-title-style {
  font-size: 24px;
  font-weight: bold;
  margin: 60px 0px 30px 0;
}

.jp-title-style {
  font-size: 18px;
}

.sub-title {
  font-size: 18px;
  margin-bottom: 60px;
}

.margin-bottom40 {
  margin-bottom: 40px;
}

.margin-bottom80 {
  margin-bottom: 80px;
}

.content {
  font-size: 16px;
}

.header__wrapper {
  display: flex;
  justify-content: space-around;
}

.header__logo {
  display: flex;
  align-items: center;
}

.nav__menu {
  display: flex;
  font-size: 21px;
}

.navlist {
  margin: 50px 25px 50px 25px;
}

li a {
  text-decoration: none;
  color: black;
}

.hero__image {
  max-width: 100%;
  height: 500px;
  /* background-image: url("../img/mainbg.png"); */
  background-image: url("../img/_4ce3e017-b935-49f5-9639-b18c90f7543e.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-y: 70%;
}
.hero__image p {
  color: white;
  padding: 15px;
}

.hero__image__title1 {
  font-size: 40px;
  font-weight: bold;
}

.hero__image__title2 {
  font-size: 30px;
}

.about__content {
  text-align: center;
}

.about__image {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  overflow: hidden;
  /* margin: 0 auto; */
}

.about__image img {
  margin: 0;
}

.title-yellow {
  color: #ffd61a;
}

.margin-bottom60 {
  margin-bottom: 60px;
}

.margin-bottom30 {
  margin-bottom: 30px;
}

.margin-bottom70 {
  margin-bottom: 70px;
}

.card {
  width: 100%;
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.card__item {
  width: 50%;
  background-color: #fafafa;
  align-items: center;
}

.card__content1 {
  display: flex;
  justify-content: left;
}

.card__content2 {
  display: flex;
  justify-content: right;
}

.card__content3 {
  display: flex;
  justify-content: left;
}

.card__text1 {
  width: 480px;
  margin-left: 50px;
}

.card__text2 {
  width: 480px;
  margin-right: 50px;
}
.card__text3 {
  width: 480px;
  margin-left: 50px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.text-left {
  text-align: left;
}

.news__card__content {
  margin-bottom: 30px;
}

.margin-center {
  /* margin: 0px 30px; */
  margin: 0px 30px 0px 30px;
}

.news__image {
  margin-bottom: 30px;
  border: solid 2px #ccc;
}
/* .news__image:hover {
  border: solid 3px gray;
} */

.testcard {
  display: flex;
  justify-content: center;
}

.news__card {
  display: flex;
  justify-content: center;
}
.news__card__content {
  width: 300px;
}

.news__card__content:hover {
    border: solid 2px rgba(239, 98, 33, 0.991);

}

.yyyymmdd {
  margin-bottom: 24px;
}

button {
  width: 300px;
  height: 60px;
  margin: 60px;
  background-color: #ffd61a;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: orange;
}

.access__wrapper {
  background-color: #fafafa;
}

.en-title-style2 {
  font-size: 24px;
  font-weight: bold;
  padding: 60px 0px 30px 0px;
}

.map {
  width: 100%;
}

.information {
  margin-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

table td,
table th {
  text-align: left;
  height: 36px;
  vertical-align: middle;
  margin: 30px;
  padding-right: 50px;
}

form label {
  display: inline-block;
  vertical-align: middle;
  /* width: 100px; */
  padding-right: 10px;
  margin-right: 10px;
  /* width: 300px; */
}

form .input__content,
.form-select,
form textarea {
  display: inline-block;
  width: 328px;
}

.contact-table {
  margin-bottom: 20px;
  margin: 0 auto;
}

.contact-item {
  padding-left: 16px;
  border: 1px solid #bfbfbf;
  border-left: none;
  text-align: left; /* テキスト左寄せ */
}
/* .contact-item, */
.contact-body {
  border: 1px solid #bfbfbf;
  border-left: none;
  padding: 8px 0px 8px 8px;
  border-right: none;
  width: 328px;
}

.input__content {
  height: 36px;
}

.form-select {
  height: 36px;
}

label {
  font-size: 12px;
  width: 230px;
  vertical-align: middle;
  padding-left: 8px;
}

.select-box {
  padding-left: 8px;
  vertical-align: middle;
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 16px;
  vertical-align: middle;
}

.contact__button .btn {
  margin: 30px 0px 140px 0px;
}
.form-textarea {
  height: 120px;
}

.copyright {
  background-color: #707070;
  padding: 30px 0px 30px 0px;
  color: #e1ddddef;
}

#page_top {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
#page_top a {
  width: 60px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f139";
  font-size: 50px;
  color: #dee0e0;
}
